@import url(https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap);

@font-face {
    font-family: 'Fjalla One';
    src: url('../fonts/fjallaone-regular-webfont.woff2') format('woff2'), url('../fonts/fjallaone-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal
}

.gp-form-wrapper {
    margin-left: -20px;
    color: #1c2530;
    direction: ltr;
    font-family: Poppins, sans-serif;
    font-size: 16px
}

.gp-form-wrapper *, .gp-form-wrapper :after, .gp-form-wrapper :before {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box
}

.gp-form-wrapper a:focus {
    outline: 0;
    box-shadow: none
}

.gp-form-header {
    padding: 20px;
    background: #fff;
    overflow: visible;
    align-items: center;
    border-bottom: 1px solid #efefef;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    box-shadow: 0 3px 8px 0 rgb(239 239 239 / 10%)
}

.gp-header-left {
    font-size: 24px;
    flex: 0 0 auto;
    display: flex;
    font-family: 'Fjalla One', sans-serif
}

.gp-header-right {
    font-size: 24px;
    flex: 0 0 auto;
    display: flex
}

.gp-header-center {
    flex: 1;
    display: flex
}

.gp-dashboard-data {
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
    padding: 0 20px
}

.gp-dashboard-header {
    display: flex;
    margin: 50px -5px 25px
}

.gp-header-box {
    box-shadow: 0 3px 8px 0 rgb(255 255 255 / 10%);
    border: 2px solid #efefef;
    padding: 25px;
    background: #fff;
    flex: 1;
    margin: 0 5px;
    border-radius: 4px;
    text-align: center;
    font-family: 'Fjalla One', sans-serif
}

.gp-header-box .title {
    margin-top: 0;
    color: #333;
    font-weight: 700;
    line-height: 1.2;
    font-size: 1rem
}

.gp-header-box .statistics {
    font-size: 50px;
    line-height: 1;
    font-weight: 700;
    margin: 8px 0 10px
}

.gp-header-box .desc, .gp-header-box .desc a {
    color: #333;
    line-height: 1.2;
    font-size: 14px;
    font-family: Poppins, sans-serif;
    text-decoration: none
}

.gp-header-box .desc a {
    color: #5067f3
}

.gp-dashboard-lists {
    margin: 0 -5px;
    display: flex
}

.gp-dashboard-list {
    box-shadow: 0 3px 8px 0 rgb(255 255 255 / 10%);
    border: 2px solid #efefef;
    background: #fff;
    flex: 1;
    margin: 0 5px;
    border-radius: 4px
}

.gp-dashboard-list-height {
    height: 215px
}

.dashboard-list-header {
    padding: 15px;
    border-bottom: 2px solid #efefef
}

.dashboard-list-body {
    padding: 15px 15px 15px
}

.dashboard-list-table {
    width: 100%;
    border-collapse: collapse
}

.dashboard-list-table tr td, .dashboard-list-table tr th {
    vertical-align: middle;
    text-align: left;
    border-bottom: 1px solid #efefef;
    padding: 10px
}

.dashboard-list-table tr th {
    font-weight: 500
}

.dashboard-list-table .date-col {
    width: 125px
}

.dashboard-list-table .action-col {
    width: 110px;
    text-align: center
}

.dashboard-list-table .status-col {
    width: 90px;
    text-align: center
}

.dashboard-list-table.help-table tr td a {
    text-decoration: none;
    color: #2271b1;
    display: inline-block;
    position: relative;
    padding: 0 0 0 15px
}

.dashboard-list-table.help-table tr td a:hover {
    color: #5067f3
}

.dashboard-list-table.help-table tr td a:hover:before {
    background: #5067f3
}

.dashboard-list-table.help-table tr td a:before {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50px;
    background: #2271b1;
    position: absolute;
    left: 0;
    top: 5px
}

.gp-dashboard-list .dashboard-list-table tr:last-child td {
    border-bottom: none
}

.dashboard-list-table .actions a {
    display: inline-block;
    margin: 0 4px;
    color: #a1a1a1
}

.dashboard-list-table .actions a.edit-form:hover {
    color: #5067f3
}

.dashboard-list-table .actions a.remove-item:hover {
    color: red
}

.dashboard-list-table .actions a.clone-shortcode:hover {
    color: orange;
}

.dashboard-list-footer {
    padding: 15px;
    border-top: 2px solid #efefef
}

.dashboard-list-footer a {
    text-decoration: none;
    display: inline-block;
    color: #5067f3;
    padding: 8px 15px;
    border: solid 1px #5067f3;
    border-radius: 4px;
    transition: all .15s ease-in-out
}

.dashboard-list-footer a:hover {
    background: #5067f3;
    color: #fff
}

.dashboard-list-footer a i {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 2px
}

.gp-header {
    margin: 25px 0 20px;
    text-align: right
}

.add-new-form, .gp-submit-btn {
    text-decoration: none;
    display: inline-block;
    background: #5067f3;
    color: #fff;
    padding: 8px 12px;
    border: solid 1px #5067f3;
    border-radius: 4px;
    transition: all .25s ease-in-out;
    cursor: pointer
}

.add-new-form i, .gp-submit-btn i {
    display: inline-block;
    margin: 0 2px 0 0
}

.add-new-form:focus, .add-new-form:hover, .gp-submit-btn:focus, .gp-submit-btn:hover {
    color: #5067f3;
    background: #fff
}

.gp-form-data {
    box-shadow: 0 3px 8px 0 rgb(255 255 255 / 10%);
    border: 2px solid #efefef;
    padding: 25px;
    background: #fff;
    border-radius: 4px;
    text-align: center;
    width: 100%;
    overflow: auto
}

[data-ginger-tooltip] {
    position: relative;
    z-index: 10
}

[data-ginger-tooltip]:after, [data-ginger-tooltip]:before {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    left: 50%;
    bottom: calc(100% + 5px);
    pointer-events: none;
    transition: 0s;
    will-change: transform;
    white-space: nowrap;
    text-decoration: none
}

[data-ginger-tooltip]:before {
    content: attr(data-ginger-tooltip);
    padding: 4px 10px;
    min-width: 50px;
    max-width: 210px;
    border-radius: 6px;
    font-size: 14px;
    width: auto;
    background-color: #4e4e4e;
    box-shadow: 0 0 24px rgba(0, 0, 0, .2);
    color: #fff;
    text-align: center;
    transform: translate(-50%, -5px) scale(.5);
    line-height: initial;
    white-space: nowrap;
    text-decoration: none
}

.ginger-inner-box [data-ginger-tooltip]:before {
    white-space: pre-wrap;
    width: max-content
}

[data-ginger-tooltip]:after {
    content: '';
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #4e4e4e transparent transparent transparent;
    transition-duration: 0s;
    transform-origin: top;
    transform: translateX(-50%) scaleY(0);
    text-decoration: none
}

.active-tooltip[data-ginger-tooltip]:after, .active-tooltip[data-ginger-tooltip]:before, [data-ginger-tooltip]:hover:after, [data-ginger-tooltip]:hover:before {
    visibility: visible;
    opacity: 1
}

.active-tooltip[data-ginger-tooltip]:before, [data-ginger-tooltip]:hover:before {
    transition-delay: 0s;
    transform: translate(-50%, -5px) scale(1)
}

.active-tooltip[data-ginger-tooltip]:after, [data-ginger-tooltip]:hover:after {
    transition-delay: 0s;
    transition-duration: 0s;
    transform: translateX(-50%) scaleY(1)
}

[data-ginger-tooltip-location=left]:after, [data-ginger-tooltip-location=left]:before {
    left: auto;
    right: calc(100% + 5px);
    bottom: 50%
}

.preview-layout .button-list span:not(.has-image)[data-ginger-tooltip-location=left]:after, .preview-layout .button-list span:not(.has-image)[data-ginger-tooltip-location=left]:before, .preview-layout .main-button .single-btn span:not(.has-image)[data-ginger-tooltip-location=left]:after, .preview-layout .main-button .single-btn span:not(.has-image)[data-ginger-tooltip-location=left]:before {
    right: calc(100% + 15px)
}

[data-ginger-tooltip-location=left]:before {
    transform: translate(-5px, 50%) scale(.5)
}

.active-tooltip[data-ginger-tooltip-location=left]:before, [data-ginger-tooltip-location=left]:hover:before {
    transform: translate(-5px, 50%) scale(1)
}

[data-ginger-tooltip-location=left]:after {
    border-width: 5px 0 5px 5px;
    border-color: transparent transparent transparent rgba(55, 64, 70, .9);
    transform-origin: left;
    transform: translateY(50%) scaleX(0)
}

.active-tooltip[data-ginger-tooltip-location=left]:after, [data-ginger-tooltip-location=left]:hover:after {
    transform: translateY(50%) scaleX(1)
}

[data-ginger-tooltip-location=right]:after, [data-ginger-tooltip-location=right]:before {
    left: calc(100% + 5px);
    bottom: 50%
}

.preview-layout .button-list span:not(.has-image)[data-ginger-tooltip-location=right]:after, .preview-layout .button-list span:not(.has-image)[data-ginger-tooltip-location=right]:before, .preview-layout .main-button .single-btn span:not(.has-image)[data-ginger-tooltip-location=right]:after, .preview-layout .main-button .single-btn span:not(.has-image)[data-ginger-tooltip-location=right]:before {
    left: calc(100% + 15px);
    bottom: 50%
}

[data-ginger-tooltip-location=right]:before {
    transform: translate(5px, 50%) scale(.5)
}

.active-tooltip[data-ginger-tooltip-location=right]:before, [data-ginger-tooltip-location=right]:hover:before {
    transform: translate(5px, 50%) scale(1)
}

[data-ginger-tooltip-location=right]:after {
    border-width: 5px 5px 5px 0;
    border-color: transparent rgba(55, 64, 70, .9) transparent transparent;
    transform-origin: right;
    transform: translateY(50%) scaleX(0)
}

.active-tooltip[data-ginger-tooltip-location=right]:after, [data-ginger-tooltip-location=right]:hover:after {
    transform: translateY(50%) scaleX(1)
}

.gp-navigation {
    text-align: right
}

.gp-navigation ul.page-numbers {
    margin: 20px 0 0
}

.gp-navigation ul {
    margin: 0;
    padding: 0
}

.gp-navigation li a, .gp-navigation li a:hover, .gp-navigation li.active a, .gp-navigation li.disabled {
    color: #fff;
    text-decoration: none
}

.gp-navigation li {
    display: inline-block;
    margin: 0;
    padding: 0
}

.gp-navigation li a, .gp-navigation li.active a, .gp-navigation li.disabled, .gp-navigation span.current {
    cursor: pointer;
    padding: 6px 12px;
    display: inline-block;
    border: 1px solid #eee;
    color: #333;
    border-radius: 4px
}

.gp-navigation li a:hover, .gp-navigation span.current {
    border-color: #5067f3;
    background-color: #5067f3;
    color: #fff
}

.gp-navigation li a:hover, .gp-navigation li.active a {
    border-color: #5067f3
}

.sr-only {
    border: 0 !important;
    clip: rect(0, 0, 0, 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    min-width: 1px !important
}

.gp-status-toggle {
    position: relative
}

.gp-status-toggle label {
    position: relative;
    display: inline-block;
    padding-left: 40px;
    min-height: 24px
}

.gp-status-toggle label:before {
    content: "";
    width: 40px;
    height: 24px;
    background: #d9d9d9;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    border-radius: 20px
}

.gp-status-toggle label:after {
    content: "";
    height: 16px;
    width: 16px;
    position: absolute;
    margin: auto 0;
    left: 4px;
    background: #fff;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    transition: all .2s ease-in-out
}

.gp-status-toggle input:checked + label:before {
    background: #5067f3
}

.gp-status-toggle input:checked + label:after {
    left: 20px
}

.gp-checkbox label {
    position: relative;
    padding-left: 30px;
    min-height: 24px
}

.gp-checkbox label:before {
    content: "";
    border: solid 1px silver;
    border-radius: 4px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: 20px;
    height: 20px;
    z-index: 1;
    transition: all .2s ease-in-out
}

.gp-checkbox label:after {
    content: "\f00c";
    color: #fff;
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    text-align: center;
    line-height: 20px;
    font-family: "Font Awesome 5 Free";
    position: absolute;
    z-index: 101;
    font-weight: 900;
    font-size: 12px
}

.gp-checkbox input:checked + label:before {
    background: #5067f3;
    border-color: #5067f3
}

.gp-setting-page {
    margin: 25px auto;
    box-shadow: 0 3px 8px 0 rgb(255 255 255 / 10%);
    border: 2px solid #efefef;
    background: #fff;
    border-radius: 4px;
    width: 100%;
    max-width: 1280px
}

.setting-title {
    padding: 15px;
    border-bottom: 1px solid #efefef;
    font-family: 'Fjalla One', sans-serif;
    font-size: 20px
}

.setting-body {
    padding: 20px
}

.gp-form-field {
    position: relative
}

.gp-form-field label {
    font-size: 14px;
    color: #242a31;
    display: block;
    padding: 0 0 5px;
    font-weight: 500
}

.gp-form-field input[type=text] {
    display: block;
    width: 100%;
    height: 40px;
    padding: 6px 12px !important;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da !important;
    border-radius: 4px;
    -webkit-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    font-family: inherit;
    max-width: 480px
}

.gp-form-field input[type=text]:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff !important;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25) !important
}

.gp-form-field p {
    margin: 2px 0 0;
    font-size: 12px
}

.gp-form-field p a {
    color: #5067f3;
    text-decoration: none
}

.gp-form-field + .gp-form-field {
    padding-top: 25px
}

.setting-footer {
    padding: 15px;
    border-top: 2px solid #efefef
}

.gp-submit-btn .gp-loader {
    display: none;
    margin: 0 5px 0 0
}

.gp-submit-btn span {
    width: 20px;
    text-align: center;
    margin: 0 5px 0 0;
    display: inline-block
}

.gp-submit-btn.disabled .gp-loader {
    display: inline-block
}

.gp-default {
    display: inline-block
}

.gp-submit-btn.disabled .gp-default {
    display: none
}

.gp-popup {
    display: none
}

.gp-popup.active {
    display: block
}

.gp-popup, .gp-popup * {
    box-sizing: border-box;
    -webkit-box-sizing: border-box
}

.gp-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: 99999
}

.gp-popup-content {
    position: fixed;
    top: 50%;
    left: 0;
    margin: 0 auto;
    right: 0;
    width: 640px;
    max-width: 100%;
    background: #fff;
    border-radius: 5px;
    z-index: 100099;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .49);
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, .49);
    -moz-box-shadow: 0 0 15px 0 rgba(0, 0, 0, .49)
}

.gp-popup.small .gp-popup-content {
    width: 480px
}

.gp-popup.large .gp-popup-content {
    width: 780px
}

.gp-popup-header {
    padding: 15px;
    border-bottom: 1px solid #efefef;
    font-family: 'Fjalla One', sans-serif;
    font-size: 20px
}

.gp-popup-body {
    padding: 15px;
    max-height: calc(100vh - 190px);
    overflow: auto
}

.gp-popup-footer {
    padding: 15px;
    border-top: 1px solid #efefef;
    text-align: center
}

button.gp-hide-popup {
    border: none;
    background: #fff;
    padding: 0;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 16px;
    position: absolute;
    top: 5px;
    right: 5px;
    color: #a1a1a1;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    cursor: pointer
}

.gp-hide-popup:hover {
    color: #1c2530
}

.text-center {
    text-align: center !important
}

.text-left {
    text-align: left !important
}

.text-right {
    text-align: right !important
}

.gp-popup-btn {
    padding: 6px 15px;
    border: solid 1px #5067f3;
    background: #5067f3;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 3px
}

.gp-popup-btn:focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(80, 103, 243, .25) !important
}

.gp-popup-btn.secondary {
    background: #e0e0e0;
    color: #130230;
    border: solid 1px #e0e0e0
}

.gp-popup-btn.secondary:focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(220, 220, 220, .25) !important;
    background: #e3e3e3
}

.gp-popup-btn.danger {
    background: #c70000;
    border: solid 1px #c70000
}

.gp-popup-btn.danger:focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(199, 0, 0, .25) !important
}

.popup-text {
    font-size: 15px;
    font-weight: 500
}

.header {
    margin: 25px 0 20px
}

.st-placeholder {
    position: absolute;
    bottom: calc(100% - 111px);
    font-size: 16px;
    padding: 0 0 0 10px;
    color: #69777d;
    pointer-events: none
}

.st-text-area {
    position: relative;
    width: 100%;
    max-width: 500px;
    color: #495057;
    font-size: 16px;
    font-weight: 400;
    font-family: inherit
}

.wp-editor-container {
    border-radius: 4px
}

.social-link-title {
    font-size: 18px !important;
    font-weight: 700 !important
}

.rating-stars {
    margin: -10px 0 -25px 0
}

.rating-stars ul {
    list-style-type: none;
    padding: 0;
    -moz-user-select: none;
    -webkit-user-select: none
}

.rating-stars ul > li.star {
    display: inline-block;
    cursor: pointer
}

.rating-stars ul > li.star > i.fa {
    font-size: 1.5em;
    color: #ccc
}

.rating-stars ul > li.star.hover > i.fa {
    color: #ffcc36
}

.rating-stars ul > li.star.selected > i.fa {
    color: #ff912c
}

.upload-button {
    display: inline-block;
    color: #495057;
    background-color: #fff;
    padding: 5px 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    transition: all .25s ease-in-out;
    cursor: pointer;
    outline: 0
}

.upload-button:hover {
    border-color: #9bd3ff !important;
    background-color: #fff;
    box-shadow: 0 0 1px 3px rgb(235 246 255);
}

.remove-button {
    background: #ff4747;
    color: #fff;
    padding: 3px 10px;
    border: solid 1px #ff4747;
    border-radius: 4px;
    transition: all .25s ease-in-out;
    cursor: pointer;
    display: none
}

.remove-button.active {
    display: inline-block
}

.client-image-preview img {
    max-width: 150px;
    height: auto;
    max-height: 248px;
    object-fit: cover
}

.image-buttons {
    margin-top: 5px
}

.client-profile {
    height: 50px;
    width: 50px
}

.gp-form-field .SumoSelect {
    width: 100% !important;
    max-width: 480px !important
}

.SumoSelect > .CaptionCont {
    display: block;
    width: 100%;
    height: 40px;
    padding: 6px 12px !important;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: none !important;
    border-radius: 4px;
    -webkit-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    font-family: inherit;
    max-width: 480px !important
}

.SumoSelect:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff !important;
    border-radius: 4px;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25) !important
}

.go-pro-button {
    text-decoration: none;
    display: inline-block;
    background: #fc7962;
    background: radial-gradient(circle, #fc7962 0, #fc6262 100%);
    color: #fff;
    padding: 8px 15px;
    border: solid 1px #fc7962;
    border-radius: 4px;
    transition: all .25s ease-in-out;
    cursor: pointer
}

.go-pro-button:focus, .go-pro-button:hover {
    color: #fc7962;
    background: #fff
}

.mt-30 {
    margin-top: 30px
}

.sc-columns {
    display: flex;
    margin: 25px auto;
    padding: 20px 50px
}

.sc-first-column {
    display: block;
    flex: 0 0 100px
}

.sc-button {
    text-decoration: none;
    display: inline-block;
    color: #5067f3;
    padding: 8px 15px;
    border: solid 1px #5067f3;
    border-radius: 4px;
    transition: all .15s ease-in-out;
    width: 100px;
    height: 100px;
    background-color: #fff;
    cursor: pointer;
    margin-bottom: 20px
}

.sc-button:focus, .sc-button:hover {
    background: #5067f3;
    color: #fff
}

.sc-first-column.button-1 .sc-first-button {
    background: #5067f3;
    color: #fff
}

.sc-first-column.button-2 .sc-first-button, .sc-first-column.button-2 .sc-second-button {
    background: #5067f3;
    color: #fff
}

.sc-first-column.button-3 .sc-first-button, .sc-first-column.button-3 .sc-second-button, .sc-first-column.button-3 .sc-third-button {
    background: #5067f3;
    color: #fff
}

.sc-first-column.button-4 .sc-first-button, .sc-first-column.button-4 .sc-fourth-button, .sc-first-column.button-4 .sc-second-button, .sc-first-column.button-4 .sc-third-button {
    background: #5067f3;
    color: #fff
}

.sc-second-column {
    flex: 1;
    margin: 0 0 0 20px;
    height: auto;
    border-radius: 5px
}

.sc-radio {
    display: flex;
    width: 100%;
    max-width: 500px
}

.sc-third-column {
    flex: 0 0 360px;
    display: block;
    padding: 20px;
    height: auto;
    background: #fff;
    border-radius: 5px;
    max-height: 500px
}

.sc-type-radio p {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 0 !important
}

.sc-type-radio {
    padding: 20px;
    flex: 1
}

.sc-type-radio label svg {
    width: 100%;
    height: 100%;
    padding: 0 20px;
    border: 2px solid #f0f0f1;
    border-radius: 4px
}

.sc-type-radio label svg:hover {
    border: 2px solid #0091ff;
    border-radius: 4px
}

.sc-type-radio.active label svg {
    border: 2px solid #0091ff
}

.create-shortcode {
    display: none
}

.create-shortcode.active {
    display: block
}

.setting-input {
    display: flex;
    align-items: baseline;
    padding-bottom: 20px
}

#sc_styling .setting-input {
    align-items: center
}

.clone-setting-input {
    display: block
}

.setting-input-left {
    flex: 0 0 215px
}

.clone-setting-input label, .setting-input-left label, .setting-input-left-category label {
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    padding: 0 0 3px 0
}

.setting-input-right {
    flex: 0 0 500px
}

.category-setting-input {
    display: flex;
    align-items: baseline
}

.setting-input-right-category {
    flex: 0 0 250px
}

.setting-input-left-category {
    flex: 0 0 130px
}

.clone-setting-input input, .setting-input-right input, .setting-input-right-category input {
    display: block;
    width: 100%;
    height: 40px;
    padding: 6px 12px !important;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da !important;
    border-radius: 4px;
    -webkit-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    font-family: inherit;
    max-width: 500px
}

.clone-setting-input input:focus, .setting-input-right input:focus, .setting-input-right-category input:focus {
    border-color: #9bd3ff !important;
    background-color: #fff;
    box-shadow: 0 0 1px 3px rgb(235 246 255)
}

.setting-column ul {
    width: 100%
}

.setting-column ul {
    margin: 0;
    padding: 0
}

.setting-column li {
    display: inline-block;
    margin: 0 4px 6px 0;
    vertical-align: middle
}

.setting-column li label {
    display: inline-block;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: .4px .9px 3px 0 rgba(0, 0, 0, .33);
    box-shadow: .4px .9px 3px 0 rgba(0, 0, 0, .33);
    position: relative;
    -webkit-transition: .2s linear all;
    transition: .2s linear all;
    background-color: #5067f3;
    color: #fff
}

.setting-column li input {
    width: 1px;
    height: 1px;
    margin: -1px;
    position: absolute;
    border: none;
    box-shadow: none
}

.setting-column li input[type=radio]:focus {
    border-color: transparent;
    box-shadow: none;
    outline: 0
}

.setting-column li label:after {
    content: "\f147";
    position: absolute;
    font-family: dashicons;
    display: none;
    line-height: 1;
    font-weight: 400;
    font-style: normal;
    speak: none;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: auto;
    color: #fff;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    left: 0;
    top: 0
}

.setting-column li input:checked + label:after, .setting-column li:hover label:after {
    display: inline-block
}

.setting-column li input:checked + label, .setting-column li label:hover {
    -webkit-box-shadow: 0 0 4px 0 #000;
    -moz-box-shadow: 0 0 4px 0 #000;
    box-shadow: 0 0 4px 0 #000
}

.fabulo-testimonial-radio-box {
    background: #eaeff2;
    padding: 4px;
    display: inline-block;
    border-radius: 4px
}

.fabulo-testimonial-radio-box .fabulo-testimonial-radio {
    display: inline-block
}

.fabulo-testimonial-radio label {
    display: inline-block;
    border-radius: 4px;
    padding: 0 15px;
    line-height: 36px;
    height: 36px;
    font-size: 16px;
    color: #49687e;
    font-weight: 500
}

.fabulo-testimonial-radio input:checked + label {
    background: #fff
}

.setting-input-right .SumoSelect {
    width: 100% !important;
    max-width: 500px !important
}

.setting-input-right .SumoSelect > .CaptionCont {
    max-width: 500px !important
}

.SumoSelect > .optWrapper > .options li.opt {
    padding: 10px
}

.order-setting li.opt.selected {
    background-color: #9bd3ff;
}

.gp-checkbox {
    padding-top: 10px
}

.sc-button:disabled {
    cursor: not-allowed
}

.style-box {
    border: 3px solid #f0f0f1;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    position: relative
}

.style-box.active, .style-box:hover {
    border: 3px solid #0091ff;
    border-radius: 5px
}

a.select-style {
    background: #5067f3;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 12px 15px;
    border-radius: 4px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    width: 200px;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px
}

.style-overlay {
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, .15);
    width: 100%;
    height: 100%;
    border-radius: 2px;
    display: none
}

.style-box:hover .style-overlay {
    display: block
}

.copy-code-text, .copy-code-text:hover {
    color: #a1a1a1
}

.sc-type-style .superb-style {
    margin: 0
}

.no-data {
    font-size: 20px;
    font-weight: 600;
    margin: 2px
}

.testimonial-color {
    position: relative
}

.testimonial-color .wp-picker-holder {
    position: absolute;
    top: 100%;
    z-index: 11
}

.testimonial-color .wp-picker-input-wrap {
    display: none
}

.testimonial-color .wp-color-result-text {
    border-left: 1px solid #c6d7e3;
    color: #49687e;
    line-height: 31px;
    padding: 0 15px;
    text-align: center;
    font-size: 14px;
    margin: 0 2px 0 0
}

.testimonial-color .wp-picker-container .wp-color-result.button {
    min-height: 38px;
    padding: 0 0 0 40px;
    border-color: #c6d7e3;
    margin: 0
}

.toasts-container {
    position: fixed;
    top: 2.4rem;
    right: 2.4rem;
    padding-left: 2.4rem;
    z-index: 100
}

.toasts-container .toast {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 420px;
    min-width: 150px;
    border-radius: 4px;
    padding: 12px 24px;
    margin-bottom: 15px;
    opacity: 0;
    transform: translateX(100%);
    transition: all .25s ease-in-out;
    overflow-x: hidden
}

.toasts-container .toast.active {
    opacity: 1;
    transform: translateY(0)
}

.toasts-container .toast .t-icon {
    margin-right: 10px
}

.toasts-container .toast .t-icon svg {
    fill: #ffffff;
    width: 20px;
    height: 20px
}

.toasts-container .toast .t-message {
    color: #fff;
    line-height: 2rem;
    font-size: 16px;
    flex: 1
}

.toasts-container .toast .t-close {
    position: absolute;
    right: 4px;
    top: 4px
}

.toasts-container .toast .t-close svg {
    fill: #ffffff;
    opacity: 1;
    width: 12px;
    height: 12px;
    transition: opacity .5s;
    cursor: pointer
}

.toasts-container .toast .t-close:hover svg {
    opacity: 1
}

.toasts-container .toast .t-progress-bar {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 6px;
    width: 100%;
    border-radius: 0 0 0 .5rem;
    background-color: rgba(255, 255, 255, .5);
    animation: progress-bar-animation linear forwards 3s
}

.toasts-container .toast .t-progress-bar.t-5000 {
    animation-duration: 5s
}

.toasts-container .toast.success {
    background-color: #4caf50
}

.toasts-container .toast.system {
    background-color: #2896f3
}

.toasts-container .toast.warning {
    background-color: #fbc107
}

.toasts-container .toast.error {
    background-color: #f55153
}

.sc-type-style {
    background: #fff;
    display: none
}

.sc-second-column.step-1 .sc-type-style {
    display: block
}

.sc-style-setting {
    display: none
}

.sc-second-column.step-2 .sc-style-setting {
    display: flex
}

.style-setting-left {
    flex: 1;
    background: #fff;
    margin: 0 20px 0 0
}

.style-setting-right {
    flex: 0 0 399px
}

.create-shortcode h2 {
    font-size: 24px;
    padding: 20px 15px;
    border-bottom: solid 2px #f0f0f1;
    margin: 0 0 0;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 400
}

.secondary-button {
    text-decoration: none;
    display: inline-block;
    color: #5067f3;
    padding: 8px 15px;
    border: solid 1px #5067f3;
    border-radius: 4px;
    transition: all .15s ease-in-out;
    background-color: #fff;
    cursor: pointer
}

.secondary-button:hover {
    background: #5067f3;
    color: #fff
}

.secondary-button span {
    position: relative;
    top: 3px
}

.fa-next {
    position: relative;
    top: 3px
}

.setting-footer .next-setting, .setting-footer .prev-style {
    min-width: 75px;
    text-align: center
}

.setting-footer .prev-style i {
    margin: 0 5px 0 0;
    display: inline-block;
    vertical-align: baseline
}

.setting-footer .next-setting i {
    margin: 0 0 0 5px;
    display: inline-block;
    vertical-align: baseline
}

#dolly {
    display: none
}

#wpfooter, #wpfooter a  {
    color: #000;
}
.SumoSelect > .CaptionCont > span.placeholder {
    color: #495057;
    font-weight: 400;
    font-style: normal;
}
.SumoSelect:focus {
    background-color: #fff;
    box-shadow: 0 0 1px 3px rgb(235 246 255) !important;
    outline: 2px solid transparent;
    border: 1px solid #9bd3ff !important;
}


.SumoSelect:focus > .CaptionCont {
    border: none !important;
}
.st-text-area body.wp-editor {
    background-color: #ffffff !important;
}
.setting-input-right .SumoSelect {
    border: 1px solid #ced4da;
    border-radius: 4px;
}

@keyframes progress-bar-animation {
    from {
        width: 100%
    }
    to {
        width: 0%
    }
}

@media screen and (max-width: 1450px) {
    .gp-dashboard-lists {
        margin: 0 9px
    }
}

@media screen and (max-width: 1024px) {
    .sc-columns {
        display: block;
        margin: 25px auto;
        padding: 20px
    }

    .sc-first-column {
        display: inline-flex;
        flex: 0
    }

    .sc-button {
        margin-right: 10px
    }

    .sc-second-column {
        width: 100%;
        margin: 0;
        flex: 0
    }

    .sc-third-column {
        margin-top: 20px;
        width: 100%;
        flex: 0
    }
}

@media screen and (min-width: 1024px) and (max-width: 1550px) {
    #sc_setting .setting-input {
        display: block
    }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
    #sc_styling .setting-input {
        display: block
    }
}

@media screen and (max-width: 880px) {
    .gp-dashboard-lists {
        display: block
    }

    .gp-dashboard-list {
        margin: 20px 15px
    }

    .gp-dashboard-list-height {
        height: 240px
    }
}

@media screen and (max-width: 825px) {
    .setting-input {
        display: block;
        padding-bottom: 20px
    }

    .setting-input-left {
        flex: 0;
        padding-bottom: 10px
    }

    .category-setting-input {
        display: block;
        padding-bottom: 20px
    }
}

@media screen and (max-width: 600px) {
    .sc-type-radio label svg {
        padding: 0 10px
    }

    .dashboard-list-table .actions a {
        margin: 0
    }
}

.SumoSelect > .optWrapper.multiple > .options li.opt.selected span i {
    background-color: #5067f3;
}

.SumoSelect > .optWrapper.multiple > .options li.opt.selected {
    background-color: #9bd3ff ;
}
.SumoSelect > .optWrapper > .options li.opt:hover {
    background-color: #9bd3ff;
}
.text-danger {
    color: #ff0000;
}
.dashiicon-margin {
    margin-top: 3px;
    margin-right: 3px;
}